body {
    padding:0;
    margin: 8px 0px 0px 0px;
}

#ARTICLE_1 {
    text-size-adjust: 100%;
    width: 640px;
    perspective-origin: 320px 348.781px;
    transform-origin: 320px 348.781px;
    font-family: "Segoe UI", Arial;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}/*#ARTICLE_1*/

#HEADER_2 {
    bottom: 0px;
    overflow: auto;
    left: 0px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 640px;
    perspective-origin: 320px 41.5px;
    transform-origin: 320px 41.5px;
    font-family: "Segoe UI", Arial;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin: 0px 0px 6px;
}/*#HEADER_2*/

#H1_3 {
    overflow-wrap: break-word;
    text-size-adjust: 100%;
    width: 600px;
    word-wrap: break-word;
    perspective-origin: 320px 14px;
    transform-origin: 320px 14px;
    font-family: "Segoe UI", Arial;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 0px 20px 8px 20px;
}/*#H1_3*/

#P_4 {
    text-size-adjust: 100%;
    perspective-origin: 320px 12px;
    transform-origin: 320px 12px;
    font-family: "Segoe UI", Arial;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin: 0px 20px 4px 20px;
}/*#P_4*/




.A {
    color: rgb(0, 153, 255);
    text-decoration: none solid rgb(0, 153, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 153, 255);
    caret-color: rgb(0, 153, 255);
    border: 0px none rgb(0, 153, 255);
    font-family: "Segoe UI", Arial;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin: 0px 4px 0px 0px;
    outline: rgb(0, 153, 255) none 0px;
}

#P_8 {
    color: rgb(153, 153, 153);
    text-decoration: none solid rgb(153, 153, 153);
    text-size-adjust: 100%;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 320px 9.5px;
    transform-origin: 320px 9.5px;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font-family: "Segoe UI", Arial;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin: 0px 20px 0px 20px;
    outline: rgb(153, 153, 153) none 0px;
}/*#P_8*/

.C {
    color: rgb(153, 153, 153);
    text-decoration: none solid rgb(153, 153, 153);
    text-size-adjust: 100%;
    column-rule-color: rgb(153, 153, 153);
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font-family: "Segoe UI", Arial;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    outline: rgb(153, 153, 153) none 0px;
}

#DIV_14 {
    color: rgb(0, 153, 255);
    cursor: zoom-in;
    text-decoration: none solid rgb(0, 153, 255);
    text-size-adjust: 100%;
    width: 600px;
    column-rule-color: rgb(0, 153, 255);
    perspective-origin: 300px 304.281px;
    transform-origin: 300px 304.281px;
    caret-color: rgb(0, 153, 255);
    border: 0px none rgb(0, 153, 255);
    font-family: "Segoe UI", Arial;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin: 0px 20px;
    outline: rgb(0, 153, 255) none 0px;
}/*#DIV_14*/

.IMG {
    color: rgb(0, 153, 255);
    cursor: zoom-in;
    display: block;
    height: auto;
    text-decoration: none solid rgb(0, 153, 255);
    text-size-adjust: 100%;
    width: 600px;
    column-rule-color: rgb(0, 153, 255);
    perspective-origin: 300px 304.281px;
    transform-origin: 300px 304.281px;
    caret-color: rgb(0, 153, 255);
    border: 0px none rgb(0, 153, 255);
    font-family: "Segoe UI", Arial;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    outline: rgb(0, 153, 255) none 0px;
}/
